//*SOMOS / PROYECTOS Y CONTACTOS*//

.backgroundGris {
    background-color: rgb(233, 233, 233);
    padding: 50px 0;

    h1 {
        color: #FF4E00;
        font-family: 'Fira Sans', sans-serif;
        font-size: 40pt;
        text-align: center;
    }

    .textoDescriptivo {
        color: rgb(0, 0, 0);
        font-family: 'Fira Sans', sans-serif;
        text-align: center;
        font-size: 12pt;


    }

}

//*SERVICIOS Y CLIENTES*//


.backgroundNar {
    background-color: rgb(255, 77, 0);
    padding: 50px 0;


}

.titularBlan {
    h1 {
        color: rgb(255, 255, 255);
        font-family: 'Fira Sans', sans-serif;
        font-size: 40pt;
        text-align: center;
    }
}

.textoDescriptivoBlan {
    color: rgb(255, 255, 255);
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    font-size: 12pt;
}

.titularWeb {
    color: rgb(255, 255, 255);
    font-family: 'Fira Sans', sans-serif;
    font-size: 30pt;
    text-align: center;


}

//*CONTACTOS*//

.contact .php-email-form {
    width: 100%;
    background: #fff;
    padding: 30px;
    font-family: "Fira Sans", sans-serif;
}

.contact .php-email-form .form-group {
    padding-bottom: 20px;
}


//*FOOTER*//

.backgroundFoo {
    background-color: rgb(87, 87, 87);
  
  }
  
  footer div {
    display: flex;
    padding: 3px 0px;
    justify-content: flex-end;
    font-family: "Fira Sans", sans-serif;
  }
  footer div p {
    color: #ffffff;
  }
  footer div img {
    width: 50px;
  }